/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* Main Display*/
* {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  box-sizing: content-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color:white;
  background-image: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
  background-repeat: no-repeat;
}


h1, h2 {
  text-align:center;
  margin: 0;
  padding: 20px 0;
}

h2 {
  font-size: 20px;
}

.choices {
  margin: 10px auto 60px auto;
  background-color: #ffffff;
  width: 45vw;
  height: 80px;
  border: 1px solid black;
  border-radius: 10px;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 250px;
  margin: 10px 0 20px 0;
}

.btntext {
  font-style: italic;
  font-size: 14px;
  color: black;
}

button {
  display: block;
  margin: auto;
  width: 150px;
  background-color: #134d71;
  border-radius: 3px;
  border: 0px;
}

.display {
  margin: auto;
  background-color: white;
  width: 70vw;
  min-height: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-buttons {
  width: 60%;
  display: flex;
  justify-content: center;
}

.favorite-display {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 40px;
  max-height: 40px;
}

.star-button {
  display: block;
  max-width: 20px;
  max-height: 20px;
}

.message {
  color: black;
}

.error {
  color: black;
}


.filter {
  background-color: transparent;
  filter: brightness(0%)
}

/* Favorite Display */




.hidden {
  display: none;
}
